In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="whitegrid")

In [7]:
df = pd.read_csv("C:/Users/Vinit/Desktop/Retail-Business-Performance-Analysis/superstore_final_dataset (1).csv", encoding='ISO-8859-1')
print("Shape:", df.shape)
df.head()

Shape: (9800, 19)

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,Profit
0,1,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,52.3920
1,2,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,146.3880
2,3,CA-2017-138688,12-06-2017,16-06-2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.9240
3,4,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,191.5155
4,5,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,4.4736

In [9]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print(df.columns)

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'profit'],
      dtype='object')

In [13]:
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
df['ship_date'] = pd.to_datetime(df['ship_date'], errors='coerce')

df = df.dropna(subset=['order_date', 'ship_date'])

order_min = df['order_date'].min().strftime('%Y-%m-%d')
order_max = df['order_date'].max().strftime('%Y-%m-%d')

print(f"📅 Order Date Range: {order_min} → {order_max}")

📅 Order Date Range: 2015-01-02 → 2018-12-11

In [15]:
df.isnull().sum()

row_id           0
order_id         0
order_date       0
ship_date        0
ship_mode        0
customer_id      0
customer_name    0
segment          0
country          0
city             0
state            0
postal_code      4
region           0
product_id       0
category         0
sub_category     0
product_name     0
sales            0
profit           0
dtype: int64

In [17]:
missing = df.isnull().sum()
print("🔍 Missing values:\n", missing[missing > 0])

df = df.dropna(subset=['postal_code'])
print(f"\n✅ Rows after dropping missing postal_code: {len(df)}")

🔍 Missing values:
 postal_code    4
dtype: int64

✅ Rows after dropping missing postal_code: 2672

In [21]:

print("🧾 Negative profits:", (df['profit'] < 0).sum())
print("💰 Zero or negative sales:", (df['sales'] <= 0).sum())

corr = df[['sales', 'profit']].corr().iloc[0, 1]
print(f"📈 Correlation between Sales and Profit: {corr:.2f}")

🧾 Negative profits: 0
💰 Zero or negative sales: 0
📈 Correlation between Sales and Profit: 1.00

In [23]:
df.to_csv("C:/Users/Vinit/Desktop/Retail-Business-Performance-Analysis/cleaned_data.csv", index=False)
print("✅ Cleaned data saved")

✅ Cleaned data saved